{% extends "app/base.html" %} {% block content %}
{% load static %}

<div class="row my-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          お知らせ
        </div>
        {% for post in post_data %}
            <div class="card-text px-2">
                {{ post.created_at|date:"Y-m-d" }}：{{ post.title }}
            </div>
        {% empty %}
            <p>まだお知らせがありません</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 my-background text-center text-white py-4">
  </div>
</div>
<div class="row my-2">
  <div class="col-md-6">
    <h2>本庄駅北口に<br >　　店を構えて30年を超え！</h2>
    <div>商売はあきないという<br >
    　　それはおもしろくて<br >
    　　しかたがないから<br >
    あきないなのだ。
    </div>
  </div>
  <div class="col-md-6 resizeimage">
    <img src="{% static 'img/akinai.jpg' %}">
  </div>
</div>
<div class="row mb-2 my-background text-white">
  <!-- <div class="col-12">
    <div class="row"> -->
      <div class="col-md-3 resizeimage">
        <img src="{% static 'img/syasin.jpg' %}">
      </div>
      <div class="col-md-9">
        <h3>健脚自慢！</h3>
        <div>
          マスターの趣味は山登りで、写真がいっぱい飾られている。
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>
<div class="row mb-2">
  <div class="col-12">
    <h3>北口から徒歩2分！</h3>
    <div class="row">
      <div class="col-md-4 resizeimage">
          <img src="{% static 'img/iriguti.jpg' %}">
      </div>
      <div class="col-md-8">
        居酒屋 風車<br >
        TEL:090-2216-6484<br >
        17:00開店<br >
        日曜・月曜・祝日定休
      </div>
    </div>
  </div>
</div>
店の歴史は30年を超え
{% endblock %}