{% extends "app/base.html" %} {% block content %}
{% load static %}

<div class="row py-4">
  <div class="col-md-3"></div>
  <div class="col-md-6 resizeimage">
    <a class="navbar-brand" href="https://smalltrip.vercel.app/">
      <img src="{% static 'img/yamanokai.jpg' %}">
    </a>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row"></div>
<div class="text-center py-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GDdbCjY5Xfo?si=zso1tBtgdPCZV36d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

{% endblock %}